<%= provide(:title, "Edit profile")%>

<div class="col-md-5"><h1>Edit Profile</h1></div>
</br></br></br></br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'form-inline' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form group">
    <%= f.label :email, class: "col-md-2 control-label"  %><br />
    <div class="col-md-5">
    <%= f.email_field :email, autofocus: true , class: "form-control"%>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
    <br/><br/>
  <div class="form group">
    <%= f.label :password, class:"col-md-2 control-label" %> </br>
    <i class="col-md-3 control-label">(leave blank if you don't want to change it)</i><br />
    <div class="col-md-5">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>
    <br/><br/>

  <div class="form group">
    <%= f.label :password_confirmation, class:"col-md-2 control-label"  %><br />
    <div class="col-md-5">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
  </div></div>
    <br/><br/>
  <div class="form group">
    <%= f.label :current_password, class:"col-md-2 control-label"%> </br>
    <i  class="col-md-4 control-label">(we need your current password to confirm your changes)</i><br />
    <div class="col-md-5">
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div></div>
    </br></br>
    <br>
  <div class="col-md-1">
    <div class="actions">
        <%= f.submit "Update", class:"btn btn-info" %>
    </div>
  </div>
<% end %>

</br></br>

</br>
<div class="col-md-1">
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class:"btn btn-danger"%>
</br></br>
</div>

