<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comment.description %>
</p>
<p>
  <strong>Rate:</strong>
  <%=rating_for_user @comment, User.find(@comment.user_id), "Rate", disable_after_rate: false%>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
