<!DOCTYPE html>
<html>
<head>

  <style>
    p{
        color: white
    }
  </style>

  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- NavBar -->
<%= render partial: "shared/menu"%>
<!-- NavBar -->

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
